body{
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(135deg,#4f8ef7,#2d2d2d);
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.login-container{
    background: white;
    padding: 2rem;
    border-radius: 12px;
    width: 100%;
    max-width: 350px;
     box-shadow:0 4px 20px rgba(0,0,0,0.15) ;

}
h2{
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
}
input{
width: 100px;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
}
button{
    width: 100px;
    padding: 10px;
    background: #4f8ef7;
    border-radius: 8px;
    color: white;
    font-size: 10px;
    cursor: pointer;
}
button:hover{
    background: #2d63c8;
}
.error{
    color: red;
    font-size: smaller;
    text-align: center;
    margin-top: 0.5rem;
}