body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}
nav{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.logo{
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: cursive;
}
.nav-links{
    display: flex;
    gap: 20px;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.search-box input{
    
    border-radius: 5px;
    border: none;
    color: red;
   
   
}
.login-btn{
    background-color: white;
    color:black;
    border: transparent;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    
}
    


.banner{
    background: url(../img/background.jpg) no-repeat center center/cover;
    padding: 40px;
    color: white;
    text-align: center;
    height: 1000px;
    
    
    
}

.card-img-top:hover{
    transform: scale();
}

@media screen and (max-width: 600px){
    nav{
        width: 600px;
    }
    .nav-links{
        font-size: 15px;
    }
    .login-btn{
        width: 50px;
        margin-right: 30px;
    }
}
@media screen and (max-width: 600px){
    .search-box input{
        width: 60px;
        margin-right: 1px;
    }
}


